@layer layout {
  .article {
    container-type: inline-size;
    container-name: articulo;
  }

  .articulo {
    font-size: 1.5rem;
  }
}

@layer componentes {
  .article {
    :is(h1, h2, h3) {
      margin-top: 3rem;
      margin-bottom: 3rem;
      text-shadow: 2rem 2rem 4rem $header-color;
    }

    :where(ul, ol) {
      padding-left: 2rem;
    }
  }
}

@layer mejoras {
  @supports (selector(:has(*))) {
    .article .articulo__columna:has(blockquote) blockquote {
      font-style: italic;
      padding: 1rem;
      border-left: 4rem solid $header-color; // verde Bootstrap
    }
  }

  @supports (font-size: 1cqw) {
    .articulo {
      font-size: 4cqw;

      @container articulo (min-width: #{$cqMinWidth}) {
        font-size: 2.5cqw;
      }
    }
  }
}
