footer {
  top: 0; /* Lo coloca en la parte superior */
  left: 0; /* Alinea a la izquierda */
  display: block;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si es necesario */
  justify-content: start; /* Distribuye los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  width: 100%; /* Ocupa todo el ancho */
  font-family: $font-family-sans-serif;
  font-size: 0.75rem;
  color: $font-white;
  background-color: $header-color;
  .footer__logofooter {
    margin: auto;

    img {
      display: block;
      width: 20%; /* Ajusta el ancho al contenedor */
      height: auto; /* Mantiene las proporciones */
      margin: auto;
    }
    @media (min-width: $mqMinWidth) {
      display: flex;

      justify-content: flex-end; /* Alinea los elementos a la derecha */
      align-items: center; /* Centra verticalmente */
      width: 50%;
      gap: 0.8rem;
    }
  }
  .footer__autor {
    margin: auto;
    text-align: center;
    @media (min-width: $mqMinWidth) {
      text-align: right;
    }
  }
  .footer__redes {
    padding: 0.7rem;
  }
  ul {
    display: flex;
    justify-content: center; /* Centra los elementos en la línea */
    list-style-type: none;
    margin-bottom: 0.4rem;
    padding: 0; /* Evita espacios extra en algunos navegadores */
    gap: 0.7rem; /* Espacio entre elementos */
  }
  @media (min-width: $mqMinWidth) {
    display: flex; /* Activa flexbox en tablet y desktop */
    justify-content: start; /* Alinea elementos a la izquierda */
    align-items: center; /* Centra verticalmente */
    gap: 1.3rem; /* Espacio entre logo y título */
  }
  .img-max-20 {
    max-width: 30%;
    height: auto;
  }
  
}
