* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  /* stylelint-disable-next-line unit-disallowed-list */
  font-size: 16px;
  line-height: 1.5rem;
  color: $font-primary;
  background-color: $ec-bg;
}
.container {
  display: grid;
  align-items: start;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr; // Móvil: una sola columna
  gap: 1.1rem;

  @media (min-width: $mqMinWidth) {
    // Tablet y Desktop
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 1.1rem;
    .ingredientes {
      grid-column: 1; // primera columna
      align-items: start;
    }
    .elaboracion {
      grid-column: 2; // Segunda columna (más ancha)
    }
    .informacion {
      grid-column: 3; // tercera columna
    }
  }
}

.container__borderbottom {
  border-bottom: 0.1rem solid #a8a5a5;
}

.nombre,
.ingredientes,
.elaboracion,
.iconos,
.informacion {
  align-items: center;
  width: 90%;
  margin: 0.5rem;
  padding: 0.5rem 0;
  background-color: $container-white;
}
.nombre,
.iconos {
  margin: auto;
}
.iconos {
  font-size: 0.8rem;
  text-align: center;
  @media (min-width: $mqMinWidth) {
    font-size: 1.2rem;
  }
}
.ingredientes__item {
  margin-bottom: 0.5rem;
}

/* Elementos dentro de ingredientes__item */
.ingredientes__cantidad {
  font-weight: bold;
  color: #007bff;
}

.ingredientes__nombre {
  font-style: italic;
}

/* Modificadores */
.ingredientes__item--destacado {
  /* background-color: #ffeb3b; */
  font-weight: bold;
}

.ingredientes__item--opcional {
  opacity: 0.7;
  font-style: italic;
}

.seccion {
  border-bottom: 0.1rem solid rgb(76 76 76);
  @media (min-width: $mqMinWidth) {
    border-bottom: 0;
  }
}

.elaboracion__imagen {
  display: block; /* Convierte la imagen en un bloque */
  height: auto; /* Mantiene la proporción */
  margin: 1.1rem auto; /* Centra horizontalmente */
  max-width: 90%; /* Evita que supere el ancho del contenedor */

  @media (min-width: $mqMinWidth) {
    max-width: 70%;
  }
}

.ec-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  @media (min-width: $mqMinWidth) {
    font-size: 3rem;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
.receta-imagen {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  padding-bottom: 1rem;
}
.receta-imagen img {
  width: 100%;
  height: auto;
  @media (min-width: $mqMinWidth) {
    width: 60%;
    margin: auto;
  }
}

@function dificultad-color($nivel) {
  @if $nivel == "facil" {
    @return #28a745; // Verde
  } @else if $nivel == "media" {
    @return #ff8707; // Amarillo
  } @else if $nivel == "dificil" {
    @return #dc3545; // Rojo
  } @else {
    @return #6c757d; // Gris por defecto
  }
}

// Se aplica la función en la dificultad de la receta.
.dificultad {
  font-weight: bold;
  color: dificultad-color("media");
}
