* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  /* stylelint-disable-next-line unit-disallowed-list */
  font-size: 16px;
  line-height: 1.5rem;
  color: $font-primary;
  background-color: $back-primary;
}

/************pagina ponentes con Flexbox **/ /////////
.ponentes {
  display: flex; /* UsaFlexbox */
  flex-wrap: wrap; /* Permite que los elementos se ajusten cuando no hay suficiente espacio */
  justify-content: center;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.ponente {
  container-type: inline-size;
  container-name: ponente;
  width: 90%;
  text-align: center; /* Centra el contenido dentro de cada "participante" */
  border: 2px solid red; /* Borde rojo de 2 píxeles */
  border-radius: 30px; /* Bordes redondeados */
  padding: 1rem;
  @media (min-width: $mqMinWidth) {
    max-width: 45%; /* Cada participante ocupará el 30% del ancho del contenedor */
    /* Espacio entre los elementos */
  }
  @media (min-width: 1024px) {
    max-width: 30%; /* 3 por fila */
  }
}

.ponente__datos {
  width: 90%;
  border: 1px solid red;
  margin: 5px auto;
}

.imagen-ovalada {
  max-width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 50%; /* Hace forma de óvalo horizontal */
  border: 2px solid #ccc; /* Opcional: añade un borde */
  margin: 10px 0;
}

.ponentes-title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 3rem;
}

/* Container query */
@container (min-width: 300px) {
  .imagen-ovalada {
    max-width: 120px;
    height: 120px;
    margin: 0;
  }

  .ponente__datos {
    border: 1px solid rgb(43, 255, 0);
    width: 75%;
  }
}
