main{
    width: 100%;
    max-width: 100%;
    margin: auto;
    container-type: inline-size;
    container-name: container;
    }

.congreso {
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: #dc5178;
  
    // Configuración para navegadores sin Grid
    display: block;

    //navegadores que soportan grid
    @supports (display: grid) {
      //dispositivos moviles 
      display: grid;
      grid-template-rows: 1fr 3fr 1fr 0.5fr 1fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 0.5fr;
      gap: 10px;
      background-color: #f8ffe5;
    
      //dispositivos desktop
      @container (min-width:#{$mqMinWidth}) {
        grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 0.25fr 1fr 0.25fr;
        background-color: #b4de40;
      }
    }
  }

  .congreso__imagen {
    text-align: center;

    @supports (display: grid) {
       //dispositivos moviles 
      grid-column: 1 / 4; /* Ocupa las columnas 1 y 2 */
      grid-row: 2; /* Ocupa la fila 2 */
      @container (min-width: #{$mqMinWidth}) {
        grid-column: 1 / 3; /* Ocupa las columnas 1 y 2 */
        grid-row: 2 / 5; /* Ocupa las filas 3 y 4 */
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    img {
      max-width: 90%;
      max-height: 90%;
      @container (min-width: #{$mqMinWidth}) {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
  .congreso__titulo{
    //Navegadores que no soportan grid
    font-size: 5vw;
    padding: 1rem;
    text-align: center;
    line-height: 150%;
    display: flex;
    justify-content: center; // centrado horizontal
    align-items: center;     // centrado vertical
    font-weight: bold;
    margin:auto;
    
    @supports (display: grid) {
      font-size: 6cqw;
      grid-column: 1 / 4; /* Ocupa las columnas 1 y 2 */
      grid-row: 1; /* Ocupa las filas 1 y 2 */
        @container (min-width:768px) {
        grid-column: 1/ 7; /* Ocupa columnas  */
        grid-row: 1;/* Fila 1 */
        color:green;

        font-weight: bold;
        }
    }
  }
  .congreso__slogan {
    display: flex;
    justify-content: center; // centrado horizontal
    align-items: center;     // centrado vertical
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    font-style: italic;
    margin:auto;
    line-height: 120%;

    @supports (display: grid) {
      grid-column: 1 / 4; /* Ocupa las columnas 1 y 2 */
      grid-row: 3; /* Ocupa las filas 1 y 2 */
      max-width: 90%;
      font-size: 6cqw;

      @container (min-width: #{$mqMinWidth}) {
        grid-column: 1/ 5; /* Ocupa columnas  */
        grid-row: 5;/* Fila 2 */
        color:green;
        font-size: 2rem;
        padding-top:26px;
        padding-left:36px;
        font-size: 5cqw;
        }
    }
  }
  .congreso__edicion{
    //Navegadores que no soportan grid
    display: flex;
    justify-content: center; // centrado horizontal
    align-items: center;     // centrado vertical
    text-align: center;
    font-size: 3vw;
    max-width: 90%;
    margin:2rem;
    
    padding:0;
    @supports (display: grid) {
      margin:0;
      justify-content: left; // centrado horizontal
      align-items:end;
      text-align: left;

      grid-column: 2/3; /* Ocupa las columnas 1 y 2 */
      grid-row: 4; /* Ocupa las filas 1 y 2 */
      font-size: 5cqw;
      @container (min-width: #{$mqMinWidth}) {
        grid-column:  4/5; /* Ocupa columnas 3 y 4 */
        grid-row: 2;/* Fila 3 */
        color:green;
        
        padding-top:26px;
        font-size: 2cqw;
        }
    }
  }

  .congreso__detalles{
    display: flex;
    justify-content: center; // centrado horizontal
    align-items: start;     // centrado vertical
    text-align: left;
    max-width: 90%;
    margin:2rem;
    padding:0;
   
    @supports (display: grid) {
      display:grid;
      grid-column: 2/3; /* Ocupa las columnas 1 y 2 */
      grid-row: 5; /* Ocupa las filas 1 y 2 */
      justify-content: center; // centrado horizontal
      align-items: start;     // centrado vertical
      text-align: left;
      font-size: 5cqw;
      margin:0;
      @container (min-width: #{$mqMinWidth}) {
        grid-column: 4/5; /* Ocupa columnas 3 y 4 */
        grid-row: 3; /* Fila 4 */
        color:yellow;
        font-size: 2cqw;
      }
    }
  }



