.formulario__formulario {
    container-type: inline-size; 
    container-name: secciones    
  } 


.formulario__label{
    font-size:1.5rem;
    @supports (font-size: 1cqw) {
    font-size: 3cqw;
        @container secciones (min-width:#{$cqMinWidth}) {
        font-size: 2cqw;
        }
    }
}

::placeholder{
  font-size:1rem;
  @supports (font-size: 1cqw) {
  font-size: 2cqw;
    @container secciones (min-width:#{$cqMinWidth}) {
      font-size: 1.5cqw;

    }
  }
}
  

  
  
 
  :is(h2,.formulario__label) {
    
    font-weight: bold;
  
  }

 
  input:invalid,
  select:invalid,
  textarea:invalid {
    border: 2px solid red;
  }
  


