//@layer base, layout, componentes, mejoras;

/* general de la página de ponentes*/
@layer layout {
  .ponentes {
    container-type: inline-size;
    container-name: ponentes;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    width: 90%;
    margin: 3rem auto;
  }

  .ponentes__title {
    text-align: center;
  }
}

/* Estilos del componente ponente*/
@layer componentes {
  .ponentes .ponente {
    container-type: inline-size;
    container-name: ponente;
    width: 90%;
    padding: 1rem;
    text-align: center;
    border: 0.5rem solid #3a7044;
    border-radius: 2rem;

    .imagen-ovalada {
      max-width: 40%;
      height: auto;
      margin: 1rem 0;
      object-fit: cover;
      border-radius: 50%;
    }

    .ponente__datos {
      width: 80%;
      margin: 0.5rem auto;
      font-size: 3rem;
      line-height: 150%;
    }
  }
}

/*Container Queries y mejoras condicionales */
@layer mejoras {
  @container ponentes (min-width: #{$mqMinWidth}) {
    .ponente {
      max-width: 45%;
    }
  }

  @container ponentes (min-width: #{$cqMinWidthDesktop}) {
    .ponente {
      max-width: 30%;
    }
  }

  @container ponente (min-width: 400px) {
    .imagen-ovalada {
      max-width: 30%;
    }
  }

  @supports (font-size: 1cqw) {
    .ponente__datos {
      font-size: 5cqw;
    }
  }
}
