.no-js {
  .collapse {
    display: block !important; // Muestra el menú por defecto
  }

  .navbar-toggler {
    display: none !important; // Oculta el botón de toggle
  }
}

// Estilos normales (para navegadores modernos con JS)
@supports (display: flex) {
  .collapse {
    display: none;

    &.show {
      display: block;
    }
  }
}

/************pagina ponentes con Flexbox **/ /////////
.ponentes {
  display: flex; /* UsaFlexbox */
  flex-wrap: wrap; /* Permite que los elementos se ajusten cuando no hay suficiente espacio */
  justify-content: center;
  //justify-content: space-between; /* Distribuye el espacio entre los elementos */
  gap: 6rem;
  width: 90%;
  margin: 3rem auto;
  /* Container query */
  container-type: inline-size;
  container-name: ponentes;

  :is(h1, h2, h3) {
    color: red;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
  }
 

  .ponente {
    /* Container query */
    container-type: inline-size;
    container-name: ponente;
    //moviles
    
    width: 90%;
    text-align: center; /* Centra el contenido dentro de cada "participante" */
    border: 0.5rem solid #3a7044; 
    border-radius: 2rem; /* Bordes redondeados */
    padding: 1rem;
    
    //dispositivos grandes- 3 columnas 
    @container ponentes (min-width:#{$mqMinWidth}) {
      max-width: 45%; /* Cada participante ocupará el 30% del ancho del contenedor */
      /* Espacio entre los elementos */
     
    }
    @container ponentes (min-width:#{$cqMinWidthPonente}) {
      max-width: 30%; /* Cada participante ocupará el 30% del ancho del contenedor */
      /* Espacio entre los elementos */
     
    }
   
    .imagen-ovalada {
      max-width: 40%;
      height: auto;
      object-fit: cover;
      border-radius: 50%; /* Hace forma de óvalo horizontal */
      margin: 1rem 0;

      @container ponente (min-width: 400px) {
        max-width: 30%;
        height:auto;
      }
    }

    .ponente__datos {
      width: 80%;
      margin: 0.5rem auto;
      font-size: 3rem;  
      line-height: 150%;   
      
      @supports (font-size: 1cqw) {
       font-size: 5cqw;
      }
    }
  }
}  
.ponentes__title {
  text-align: center;
}
  
 
  
  /* Container query */
 
  /********* PEC2 comun*//////
  
  :is(h1, h2, h3) {
    color: red;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
  }
  /*
  ol.list-group-numbered li:has(strong) {
    background-color: rgba(243, 9, 9, 0.856)!important; // Un pequeño contraste
    
  }*/
  article:has(blockquote) blockquote {
    border-left: 4px solid rgb(128, 26, 0);
    padding-left: 1rem;
    margin-left: 0;
  }
  .verde-personalizado {
    background-color: #123456;
  }