<footer class="footer-bg text-white py-2">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-md-3 mb-2 text-center text-md-start d-flex flex-column justify-content-center"
      >
        <div class="articulo__imagen container mb-0 p-0">
          <img
            src="./assets/images/logo_bl.jpg"
            class="img-fluid img-max-20"
            alt="Logo de las jorandas"
          />
        </div>
      </div>
      <div
        class="col-12 col-md-6 mb-2 d-flex flex-column justify-content-center"
      >
        <ul class="list-unstyled">
          <li class="nav-item fs-6 fs-md-3">
            <a class="nav-link text-white" href="index.html">Portada</a>
          </li>
          <li class="nav-item fs-6 fs-md-3">
            <a class="nav-link text-white" href="ponentes.html">Ponentes</a>
          </li>
          <li class="nav-item fs-6 fs-md-3">
            <a class="nav-link text-white" href="articulo.html">Artículo</a>
          </li>
          <li class="nav-item fs-6 fs-md-3">
            <a class="nav-link text-white" href="inscripcion.html"
              >Inscripcion</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-12 col-md-3 mb-2 d-flex flex-column justify-content-center"
      >
        <ul class="list-unstyled">
          <li>
            <a href=""
              ><img src="./assets/images/instagram.svg" alt="instagram"
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="./assets/images/twitter.svg" alt="twitter"
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="./assets/images/youtube.svg" alt="youtube"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
