<footer>
    
        
        <div class="footer__redes">
            
                <ul>
                    <li><a href=""><img src="./assets/images/instagram.svg" alt="instagram" loading="lazy"></a></li>
                    <li><a href=""><img src="./assets//images/twitter.svg" alt="twitter" loading="lazy"></a></li>
                    <li><a href=""><img src="./assets//images/youtube.svg" alt="youtube" loading="lazy"></a></li>
                </ul>
            
        </div>
        <div class="footer__logofooter">
            <div class="logoheader">
                <img src="./assets//images/logo.svg" alt="Logo" class="logoheader" loading="lazy">

            </div>
            <div class="footer__autor">&copy; 2025-2026 | Eva Cristóbal López</div>
        </div>
    
</footer>

