<header>
  <!-- Navbar -->

   <nav-bar class="header__general" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- Logo a la izquierda -->
        <a class="navbar-brand header__menu" >
          <img
          src="./assets/images/logo_bl.jpg"
          class="img-fluid img-max-20"
          alt="logo de las jornadas"
          />
        </a>
      </div>
     
      <!-- Enlaces de navegación -->
      <div class="header__menu navbar ms-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item fs-6 fs-md-1 fw-bold px-4 ">
            <a class="nav-link fs-6 fs-md-1  " href="index.html">Portada</a>
          </li>
          <li class="nav-item fs-6 fs-md-2 px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold " href="ponentes.html">Ponentes</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold" href="articulo.html">Artículo</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold " href="inscripcion.html">
              Inscripcion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </nav-bar>
</header>

