@use "sass:color";

$font-family-sans-serif:
  -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue",
  arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$header-color: #359c48;
$font-primary: #3a7044;//letra oficial 
$font-white: #ffffff;
$back-primary: #f8ffe5; // fondo oficial
$container-white: #ffffff;
/* stylelint-disable-next-line unit-disallowed-list */
$mqMinWidth: 768px;
$cqMinWidth: 600px;
$cqMinWidthPonente: 1400px;

$theme-colors: (
  "primary": #f8ffe5,
  "secundary":#3a7044,
  
);

//$body-color: rgb(77, 32, 223); // Color verde
$body-bg: #f8ffe5;
$footer-bg:$header-color;


//Varia les Sass

// Personaliza con variables Sass el color y padding en breadcrumbs
$breadcrumb-active-color: #101313;
$breadcrumb-padding-x:2rem;

// Personaliza con variables Sass el color  y tamaño de blockquote
$blockquote-font-size: 2.5rem;
$blockquote-footer-color: #24a62a;
$blockquote-footer-font-size: 1.3rem;

// Personaliza con variables Sass el color de los enlaces de navbar
$navbar-light-color: #ffe5f0;

// Personaliza con variables Sass el color de los enlaces de navbar
$tooltip-color:#ffe5f0;
$tooltip-bg:#3a7044;
$tooltip-max-width:40rem;
$tooltip-font-size:1.5rem;

