@use "sass:color";

$font-family-sans-serif:
  -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue",
  arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #ffff;
$ec-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$header-color: rgb(53, 156, 72);
$font-primary: #3a7044;
$font-white: #ffffff;
$back-primary: #f8ffe5;
$container-white: #ffffff;
/* stylelint-disable-next-line unit-disallowed-list */
$mqMinWidth: 768px;
$theme-colors: (
  "primary": #e21f81,
);

